<div class="container rounded border border-dark pb-3 pt-2">
  <h1>Ficha Poción</h1>
  <form #myForm="ngForm" *ngIf="pocion">


    <div class="form-group">
      <label for="titulo">Nombre de la Poción</label>
      <input type="text" class="form-control" id="titulo" name="titulo" #titulo="ngModel" [(ngModel)]="pocion.titulo" required>
      <div [hidden]="(titulo.valid || titulo.pristine)" class="alert alert-danger">
        Este campo no puede estar vacio
      </div>
    </div>


    <div class="form-group">
      <label for="descripcion">Descripción de la Poción</label>
      <input type="text" class="form-control" id="descripcion" name="descripcion" #descripcion="ngModel" [(ngModel)]="pocion.descripcion" required>
      <div [hidden]="(descripcion.valid || descripcion.pristine)" class="alert alert-danger">
        Este campo no puede estar vacio
      </div>
    </div>

    <div class="form-group mt-4">
      <label for="field_imagen" class="form-control-label">Imagen</label>
      <input type="file" accept="image/" (change)="preview(file.files)" id="imagen" name="imagen">
      <img [src]="imgURL" height="200" *ngIf="imgURL">
      <img *ngIf="pocion.imagen && !imgURL" [src]="pocion.imagen" height="200">
    </div>

    <div class="form-group">
      <label for="esEpica">¿Es Epica?: </label>
      <input type="checkbox" class="ml-2 from-control" id="esEpica" name="esEpica" #esEpica="ngModel" [(ngModel)]="pocion.esEpica">
    </div>



    <div class="text-right">
      <a [routerLink]="['/pociones']" class="mr-2 text-white shadow btn btn-success">Volver</a>
      <button type="button" class="mr-2 shadow btn btn-primary" [disabled]="!myForm.valid"
        (click)="guardarPocion(pocion)">Guardar</button>
      <button type="button" class="shadow btn btn-danger" [disabled]="pocion.id === 0"
        (click)="borrarPocion(pocion.id)">Borrar</button>
    </div>

  </form>
</div>

