<div class="container">
  <table class="table table-striped border-light  shadow text-center">
    <thead class="bg-success">
      <tr class="">
        <th scope="col">ID</th>
        <th scope="col">Pocion</th>
        <th scope="col">Nombre</th>
        <th class="Acciones" *ngIf="true" scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td class="Acciones" *ngIf="true">
          <div >
            <div class="btn-group mr-2">
              <button type="button" class="btn btn-primary">Ver</button>
            </div>
            <div class="btn-group mr-2">
              <button type="button" class="btn btn-success">Editar</button>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-danger">Borrar</button>
            </div>
          </div>
        </td>

      </tr>
    </tbody>
  </table>
</div>